[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple/"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.9"
