[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.douban.com/simple/"

[packages]
pandas = "*"
scikit-learn = "*"
lightgbm = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
